<div class="wrapper" >
  <ul *ngIf="meterData != null">
    <li>название счетчика meterName: {{meterData.meterName }}</li>
    <li>название канала данных channelName{{meterData.channelName }} </li>
  </ul>
  <div>
    <ul>
      Час когда было использовано максимум электричества
      <li>
        <button [disabled]="clicked" *ngIf="isCollapsed" (click)="toggleColapse()"> Получить</button>
        <button *ngIf="!isCollapsed" (click)="toggleColapse()"> Скрыть</button>

        <div *ngIf="!isCollapsed">
          {{this.calcMaxhour()}}

        </div>


      </li>
      День когда было использовано минимум электричества
      <li>
        <button *ngIf="isCollapsednw" (click)="toggleColapsenw()"> Получить</button>
        <button *ngIf="!isCollapsednw" (click)="toggleColapsenw()"> Скрыть</button>

        <div *ngIf="!isCollapsednw">
          {{this.calcMinday()}}
        </div>

      </li>

      Среднечасовая использованная энергия
      <li>
        <button *ngIf="avgHourly == null" (click)="calculateAvgHourly()"> Получить</button>

        <div *ngIf="avgHourly!= null">
          {{avgHourly.toFixed(2)}} Wh
        </div>

      </li>
    </ul>
  </div>
</div>
